body {
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
    padding: 0;
    margin: 0;
    background: #fafafa;
  }
  
  h1 {
    align:center;
  }
  
  .container {
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 15px;
    border-radius: 3px;
    background: white;
    max-width: 800px;
  }
  
  .intro p {
    margin: 0;
  }
  
  .btn {
    display: inline-block;
    padding: 12px 20px;
    border: 1px solid #34AAFF;
    border-radius: 100px;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Questrial', sans-serif;
    line-height: 1;
    background-color: #34AAFF;
    color: white;
    cursor: pointer;
    transition: background 250ms ease-in-out;
  }
  .btn:hover {
    background: #25a4ff;
  }
  
  button.btn {
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 0px;
  }
  
  .acf-map {
    width: 100%;
    height: 400px;
    border: #ccc solid 1px;
    margin: 20px 0 0;
  }
  
  /* fixes potential theme css conflict */
  .acf-map img {
    max-width: inherit !important;
  }

  .led-red {
    float: left;
    margin: 20px auto;
    width: 25px;
    height: 25px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, #F00 0 2px 12px;
  }

  .led-green {
    float: left;
    margin: 20px auto;
    width: 25px;
    height: 25px;
    background-color: rgb(0, 255, 55);
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 2px 12px;
  }


  